#cloud-config

# Add Docker repo
apt:
  sources:
    docker.list:
      source: deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable
      keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88

# Install Docker
packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io

write_files:
  # Docker installation script (gpg import fails in apt modules sometimes???)
  - path: /home/ubuntu/dockerup.sh
    content: |
      ##include files/dockerup.sh

  # Netplan static IP configuration
  - path: /etc/netplan/60-fucking-static-ip.yaml
    content: |
      ##include files/static-ip.yaml

  # Traefik docker-compose file
  - path: /home/ubuntu/traefik/docker-compose.yml
    content: |
      ##include files/docker-compose.traefik.yml
  
  # Weebify docker-compose file
  - path: /home/ubuntu/weebify/docker-compose.yml
    content: |
      ##include files/docker-compose.weebify.yml
  
  # Stack configuration .env
  - path: /home/ubuntu/weebify/.env
    content: |
      ##include files/.env

  # MinIO init script
  - path: /home/ubuntu/weebify/minioinit.sh
    content: |
      ##include files/minioinit.sh

  # MongoDB init script
  - path: /home/ubuntu/weebify/mongoinit.js
    content: |
      ##include files/mongoinit.js

# Create the docker group
groups:
  - docker

# Add default auto created user to docker group
system_info:
  default_user:
    groups: [docker]

runcmd:
  # Set static IP
  - netplan apply
  # Install docker
  - bash /home/ubuntu/dockerup.sh
  # Start traefik and weebify
  - docker compose -f /home/ubuntu/traefik/docker-compose.yml --progress quiet up -d
  - docker compose --env-file /home/ubuntu/weebify/.env -f /home/ubuntu/weebify/docker-compose.yml --progress quiet up -d
  # Restart to make sure everything is initialized properly
  - sleep 10
  - docker compose --env-file /home/ubuntu/weebify/.env -f /home/ubuntu/weebify/docker-compose.yml --progress quiet restart #lol
  